//colors
$color-1: #214a8c;
$color-2: #eff3f8;
$color-3: #ffffff;
$color-4: #f5ae18;
$color-5: #1691db;
$color-6: #3f99ba33;
$color-7: #ffe624;
$color-8: #1cbbb4;
$color-9: #d7f5ff;
$color-10: #677379;
$color-11: #e4e6e7;
$color-12: #f8f8f8;
$color-13: #f6ae18;
$color-14: #8198ac;
$color-15: #4f595e;
$color-16: #f6915a;
$color-17: rgb(79, 89, 94, 0.1);
$color-18: #000000;

// fonts
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-25: 25px;
$font-50: 50px;

// font-weight
$font-400: 400;
$font-500: 500;
$font-700: 700;
